<h1>Make your form here</h1>

  <form action="/" method="post">
     Pirate Name: <input type="text" name="pirate[name]">
     Pirate weight: <input type="text" name="pirate[weight]">
     Pirate weight: <input type="text" name="pirate[height]">
     <input type="submit">
  </form>
